#auth_form_page {
    background: radial-gradient(circle, #FFFFFF, #999999);
    font-family: "Lemon", serif;
}

#auth_form {
    width: 32%;
}

#habit-section{
    background-color: #D9D9D9;
    height: 95%;
    margin-top: 2.5%;
}

#plus-icon{
    size: 48px;
}